<div class="main">
    <h2>Edit the book: {{title}}</h2>

    <form action="/books/update/{{_id}}" method="post">

        <label for="title-input">Title:</label>
        <input type="text" name="title" id="title-input" value="{{title}}" />

        <label for="author-input">Author:</label>
        <input type="text" name="author" id="author-input" value="{{author}}" />

        <label for="description-input">Description:</label>
        <br>
        <textarea name="description" id="description-input" cols="52" rows="4">{{description}} </textarea>
        <br>

        <label for="coverImg-input">Cover Image:</label>
        <input type="text" name="coverImg" id="coverImg-input" value="{{coverImg}}" />

        <label for="rate-input">Year:</label>
        <input type="number" name="year" id="year-input" value="{{year}}" />

        <label for="rate-input">Rate:</label>
        <input type="number" name="rating" id="rate-input" min="1" max="10" value="{{rating}}" />

        <button type="submit">Save changes</button>

    </form>
</div>