<div id="nav"><a href="/"><img src="https://image.flaticon.com/icons/svg/25/25694.svg" alt="" width="40" height="40"></a></div>

<div class="main-details">
    <div class="book-details">
        <div><h3>Author: {{author.firstName}} {{author.lastName}}</h3></div>
        <div><h4>Age: {{author.age}}</h4></div>
        <div><h4>Books: {{author.books}}</h4></div>
        <a href="/authors/update/{{author._id}}" class="ud-links">Edit Author</a>
        <a href="/authors/browse" class="ud-links">See All Authors</a>
    </div>
</div>