<div id="nav"><a href="/"><img src="https://image.flaticon.com/icons/svg/25/25694.svg" alt="" width="40"
            height="40"></a></div>

<div class="main">
    <h2>Edit the author: {{firstName}}</h2>

    <form action="/authors/update/{{_id}}" method="POST">
      
        <label for="firstName-input">Title:</label>
        <input type="text" name="firstName" id="firstName-input" value="{{firstName}}" required />

        <label for="lastName-input">Author:</label>
        <input type="text" name="lastName" id="lastName-input" value="{{lastName}}"/>

        <label for="age-input">Age:</label>
        <input type="number" name="age" id="age-input" value="{{age}}" />

        <button type="submit">Save Changes</button>
        
    </form>

    <br>
    <form action="/authors/delete/{{_id}}/" method="POST">
    <button><span class="ud-links">Delete</span></button></form>
</div>